/* reset.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}


/*ReloadStencil-Regular*/
@font-face {
    font-family: 'ReloadStencil-Regular';
    src: url('../fonts/reload-stencil-regular.woff2') format('woff2'),
    url('../fonts/reload-stencil-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*inter-regular - latin*/
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2');
}

/*Grundfläche*/
.grundflaeche {
    /*width: 1600px;*/
    width: 1440px;
    height: 900px;
    background-image: url('../images/app/supporter-sheme-3 1.png');
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
    z-index: 0;
}

/*Warnung Grundfläche*/
.warnung {
    width: 1150px;
    height: 75px;
    background-color: red;
}
/*Text der Warnung*/
.warnung-text{
    font-family: 'Inter', sans-serif;
    font-size: 54px;
    color: white;
    white-space: nowrap;
    animation: scroll 11s linear infinite;
}

.scroll-container {
    width: 100%;
    overflow: hidden;
}

@keyframes scroll {
    from {
        transform: translateX(100%); /* Startpunkt der Animation */
    }
    to {
        transform: translateX(-100%); /* Endpunkt der Animation */
    }
}

h2 {
    font-family: 'ReloadStencil-Regular', sans-serif;
    width: 1150px;
    height: 102px;
    font-size: 62px;
    color: black;
    text-align: center;
    background-color: white;
    /*border: 1px solid red;*/
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    z-index: 9999; /* Sehr hoher z-index-Wert */
}





h3 {
    font-family: 'Inter', sans-serif;
    width: 900px;
    height: 75px;
    font-size: 53px;
    color: white;
    text-align: center;
    background-color: black;
    margin-top: -70px ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.deutsch {
    font-family: 'ReloadStencil-Regular', sans-serif;
    width: 900px;
    height: 70px;
    font-size: 38px;
    text-align: center;
    background-color: white;
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
}

.englisch {
    font-family: 'Inter', sans-serif;
    width: 683px;
    height: 61px;
    font-size: 29px;
    text-align: center;
    color: white;
    background-color: black;
    margin-top: -62px;
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
}

.deutsch-ausgabe {
    font-family: 'ReloadStencil-Regular', sans-serif;
    width: 351px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    background-color: white;
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
}

.englisch-ausgabe {
    font-family: 'Inter', sans-serif;
    width: 192px;
    height: 61px;
    font-size: 31px;
    text-align: center;
    color: white;
    background-color: black;
    margin-top: -62px;
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
}

.deutsch-ausgabe-no {
    font-family: 'ReloadStencil-Regular', sans-serif;
    width: 500px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    background-color: white;
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
}

.englisch-ausgabe-no {
    font-family: 'Inter', sans-serif;
    width: 400px;
    height: 61px;
    font-size: 31px;
    text-align: center;
    color: white;
    background-color: black;
    margin-top: -62px;
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
}


.ausgabeabfrage{
    font-family: 'Inter', sans-serif;
    width: 700px;
    height: 100px;
    font-size: 24px;
    background-color: black;
    color: white;
    margin-top: 20px;

    display: flex; /* Flexbox */
    /*justify-content: center; !* Horizontal zentrieren *!*/
    align-items: center; /* Vertikal zentrieren */
}

.index {
    font-family: Inter, sans-serif;
    width: 52px;
    height: 52px;
    font-size: 24px;
    color: black;
    background-color: white;
    float: left;
    text-align: center;
    border-radius: 50%;
    margin-left: 20px;
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
}

.days {
    margin-left: 100px;

}

.Vector {
    position: absolute;
}

.place {
    text-align: right;
    display: inline;
    margin-right: 40px;
    flex: 1;
}


/*Bilder*/
img.benzel{
    width: 340px;
    height: 340px;
    border: 17px solid white;
    margin-top: -30px;
    margin-left: 255px;
}
img.Vector{
    width: 19px;
    height: 30px;
    background-color: black;
    border: none;
    /*margin-right: 0px;*/

}


/*Grundposition Karte*/
.Karte{
    position: absolute;
    right: -50%;
    top: 0;
    width: 650px;
    height: 900px;
    transition: right 2s 0.1s;

}

/*Position Karte bei Abfrage*/
.Karte.in {
    right: 0;
    z-index: -1;
}

/*Beschriftung Pfeil Position*/
.Beschriftung{
    position: absolute;
    right: -45%;
    top: 15em;
    width: 107px;
    height: 20px;
    transition: right 2s 0.1s;

}
.Beschriftung.ko {
    position: absolute;
    right: 4em;
    top: 15em;
    width: 107px;
    height: 20px;
    animation: bounce2 2s ease infinite;
}


.Pfeil{
    position: absolute;
    right: -45%;
    top: 9em;
    width: 107px;
    height: 100px;
    transition: right 2s 0.1s;
}
.Pfeil.ok{
    position: absolute;
    right: 4em;
    top: 9em;
    width: 107px;
    height: 100px;
    animation: bounce2 2s ease infinite;
}


@keyframes bounce2 {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}



.box{
    position: absolute;
}

.box.boxleft{
    /*transform: translateX(calc((1600px - 110%) / 2 * -1));*/
    transform: translateX(calc((1440px - 110%) / 2 * -1));
    transition: transform 3s 0.1s;
}
