/* reset.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}


/*ReloadStencil-Regular*/
@font-face {
    font-family: 'ReloadStencil-Regular';
    src: url('../fonts/reload-stencil-regular.woff2') format('woff2'),
    url('../fonts/reload-stencil-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*inter-regular - latin*/
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2');
}

/*Grundfläche*/
.grundflaeche {
    /*width: 1600px;*/
    width: 1440px;
    height: 900px;
    background-image: url('../images/app/supporter-sheme-3 1.png');
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
    z-index: 0;
}

/*Warnung Grundfläche*/
.warnung {
    width: 900px;
    height: 75px;
    background-color: rgba(228, 31, 214, 0.8); /* Background color with transparency */
    /*margin-top: 100px;*/
}
/*Text der Warnung*/
.warnung-text{
    font-family: 'Inter', sans-serif;
    font-size: 54px;
    color: white;
    white-space: nowrap;
    animation: scroll 15s linear infinite;
}

.scroll-container {
    width: 100%;
    overflow: hidden;
}

@keyframes scroll {
    from {
        transform: translateX(100%); /* Startpunkt der Animation */
    }
    to {
        transform: translateX(-200%); /* Endpunkt der Animation */
    }
}

h2 {
    font-family: 'ReloadStencil-Regular', sans-serif;
    width: 1150px;
    height: 102px;
    font-size: 62px;
    color: black;
    text-align: center;
    background-color: white;
    /*border: 1px solid red;*/
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    z-index: 9999; /* Sehr hoher z-index-Wert */
    margin-top: 20px;
}


h3 {
    font-family: 'Inter', sans-serif;
    width: 750px;
    height: 75px;
    font-size: 53px;
    color: white;
    text-align: center;
    background-color: black;
    margin-top: -70px ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.deutsch {
    font-family: 'ReloadStencil-Regular', sans-serif;
    width: 900px;
    height: 70px;
    font-size: 38px;
    text-align: center;
    background-color: white;
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
}

.englisch {
    font-family: 'Inter', sans-serif;
    width: 683px;
    height: 61px;
    font-size: 29px;
    text-align: center;
    color: white;
    background-color: black;
    margin-top: -62px;
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
}

.deutsch-ausgabe {
    font-family: 'ReloadStencil-Regular', sans-serif;
    width: 351px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    background-color: white;
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
}

.englisch-ausgabe {
    font-family: 'Inter', sans-serif;
    width: 192px;
    height: 61px;
    font-size: 31px;
    text-align: center;
    color: white;
    background-color: black;
    margin-top: -62px;
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
}


/*Anzeige, wenn keine Daten Vorhanden sind -> Falsches Bändchen oder oder oder*/
.deutsch-ausgabe-no {
    font-family: 'ReloadStencil-Regular', sans-serif;
    width: 500px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    background-color: white;
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    margin-left: 200px;
}

.englisch-ausgabe-no {
    font-family: 'Inter', sans-serif;
    width: 400px;
    height: 61px;
    font-size: 31px;
    text-align: center;
    color: white;
    background-color: black;
    margin-top: -62px;
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    margin-left: 200px;
}

.noDataLeft{
    transform: translateX(calc((1440px - 110%) / 2 * -1));
    transition: transform 3s 0.1s;
    margin-bottom: 320px;
}
/*######################################*/

/*.ausgabeabfrage{*/
/*    font-family: 'Inter', sans-serif;*/
/*    width: 650px;*/
/*    height: 175px;*/
/*    font-size: 24px;*/
/*    background-color: black;*/
/*    color: white;*/
/*    margin-top: 20px;*/

/*    display: flex; !* Flexbox *!*/
/*    !*justify-content: center; !* Horizontal zentrieren *!*!*/
/*    align-items: center; !* Vertikal zentrieren *!*/
/*}*/

.ausgabeabfrage {
    font-family: 'Inter', sans-serif;
    width: 680px;
    height: 125px;
    font-size: 24px;
    background-color: black;
    color: white;
    margin-top: 20px;

    display: flex;
    flex-direction: column; /* Ändere die Ausrichtung auf vertikal */
    /*align-items: left;*/
    justify-content: space-between; /* Verteile den Platz zwischen den Elementen */
}

.main-content {
    /*border: 1px solid red;*/
    display: flex;
    height: 75px;
    flex-direction: row; /* Behalte die horizontale Ausrichtung für den Hauptinhalt */
    align-items: center;
    /*margin-top: 10px;*/
}

.needs{
    /*border: 1px solid green;*/
    display: flex;
    height: 75px;
    flex-direction: row; /* Behalte die horizontale Ausrichtung für den Hauptinhalt */
    align-items: center;
    margin-left: 30px;
    margin-top: 0;
}






.index {
    font-family: Inter, sans-serif;
    width: 52px;
    height: 52px;
    font-size: 24px;
    color: black;
    background-color: white;
    float: left;
    text-align: center;
    border-radius: 50%;
    margin-left: 20px;
    display: flex; /* Flexbox */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
}

.days {
    margin-left: 40px;
}

.Vector {
    position: absolute;
}

.place {
    text-align: right;
    margin-right: 60px;
    display: inline;
    flex: 1;
}



/*Bilder*/
img.benzel{
    width: 340px;
    height: 340px;
    border: 17px solid white;
    /*border-radius: 15%;*/
    margin-top: -30px;
    margin-left: 400px;
}

img.Vector{
    width: 19px;
    height: 30px;
    background-color: black;
    border: none;
    /*margin-right: 0px;*/
}

/*Grundposition Karte*/
.Karte{
    position: absolute;
    right: -50%;
    top: 0;
    width: 700px;
    height: 900px;
    transition: right 2s 0.1s;

}

/*Position Karte bei Abfrage*/
.Karte.in {
    right: 0;
    z-index: -1;
}

/*Beschriftung Pfeil Position*/
/*.Beschriftung{*/
/*    position: absolute;*/
/*    right: -45%;*/
/*    top: 15em;*/
/*    width: 107px;*/
/*    height: 20px;*/
/*    transition: right 2s 0.1s;*/

/*}*/
/*.Beschriftung.ko {*/
/*    position: absolute;*/
/*    right: 4em;*/
/*    top: 15em;*/
/*    width: 107px;*/
/*    height: 20px;*/
/*    animation: bounce2 2s ease infinite;*/
/*}*/


/*.Pfeil{*/
/*    position: absolute;*/
/*    right: -45%;*/
/*    top: 9em;*/
/*    width: 107px;*/
/*    height: 100px;*/
/*    transition: right 2s 0.1s;*/
/*}*/
/*.Pfeil.ok{*/
/*    position: absolute;*/
/*    right: 4em;*/
/*    top: 9em;*/
/*    width: 107px;*/
/*    height: 100px;*/
/*    animation: bounce2 2s ease infinite;*/
/*}*/


@keyframes bounce2 {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}



.box{
    position: absolute;
}

.box.boxleft{
    /*transform: translateX(calc((1600px - 110%) / 2 * -1));*/
    transform: translateX(calc((1440px - 110%) / 2 * -1));
    transition: transform 3s 0.1s;
    margin-bottom: 60px;
    /*margin-top: 20px;*/
}


/*Ab Hier alles CSS was mit dem Wetter zu tun hat.*/
.wetter {
    width: 350px;  /* Width of the rectangle */
    height: 300px; /* Height of the rectangle */
    background-color: rgba(228, 31, 214, 0.5); /* Background color with transparency */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    position: absolute;    /* Position the rectangle relative to the viewport */
    bottom: -50px; /* Position the rectangle outside at the bottom */
    right: -110px; /* Position the rectangle outside at the right */
    border-radius: 15%;
    border: 5px solid white;
}

.option-karte{
    width: 350px;  /* Width of the rectangle */
    height: 325px; /* Height of the rectangle */
    position: absolute;
    bottom: -50px;
    left: -100px;
    border-radius: 15%;
    border: 5px solid white;
    /*opacity: 0.9;*/
}

.frage{
    font-size: 40px;
    color: white;
    text-align: center;
}




.wetter-info{
    color: white;
    font-family: 'ReloadStencil-Regular', sans-serif;
    /*font-family: 'Inter', sans-serif;*/
    text-align: center;
    font-size: 25px;
}

.logo{
    width: 120px ;
    margin-left: 200px;
    margin-top: -100px;
}

.location{
    font-size: 40px;
    width: 200px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.weather-description{
    margin-bottom: 0;
    margin-top: 0;
}
.wind-speed{
    margin-top: 20px;
    margin-bottom: 20px;
}
.feels-like{
    margin-top: 20px;
    margin-bottom: 20px;
}
.temperature{
    margin-top: 20px;
    margin-bottom: 20px;
}

.dreieck{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid magenta;
    position: absolute;


    right: -47%;
    top: 10.5em;
    transition: right 2s 0.1s;
    z-index: 99;
}

.dreieck.ok{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid magenta;
    position: absolute;


    right: 3em;
    top: 10.5em;
    animation: bounce2 2s ease infinite;
}
.supportercare{
    width: 100px;
    height: 20px;
    font-family: 'ReloadStencil-Regular', sans-serif;
    font-size: 11px;
    text-align: center;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;

    right: -47%;
    top: 24em;
    transition: right 2s 0.1s;

    z-index: 99;

}

.supportercare.ko{
    width: 100px;
    height: 20px;
    font-family: 'ReloadStencil-Regular', sans-serif;
    font-size: 11px;
    text-align: center;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;

    right: 4.4em;
    top: 24.3em;
    animation: bounce2 2s ease infinite;

    z-index: 99;

}
.supportercheckin{

}


